<% include partials/header.ejs %>

    <body>
        <main class="container">
            <img src="../public/images/background.jpg" alt="Why can't you be found?">
            <div class="jumbotron">
                <div class="page-header">
                    <h1><%= title %></h1>
                    <p>Who am I?</p>
                </div>
                <p>
                    I have always had a passion for programming, whether it was when I was a kid
                    and that passion was rooted in video games or today when it involves forms and
                    databases. I was born and raised in Orillia and moved to Barrie to attend Georgian College
                    last year. I recently completed my coop term with Toronto Region Conservation Authority
                    where I was developing Notes databases. On a more personal note I enjoy sports, food and travel.
                    My dream is to be able to "work from home" so that work can be completed wherever I happen
                    to be whether it's the Rocky Mountains or a Scottish Castle.
                </p>
            </div>
        </main>

        <% include partials/footer.ejs %>