<% include partials/header.ejs %>

    <body>
        <main class="container">
            <div class="jumbotron">
                <div class="page-header">
                    <h1><%= title %></h1>
                    <p>What I know</p>
                </div>
                <p>
                    The computer programming course at Georgian teaches a broad range of topics.
                    They focus heavily on MySQL and Java and branch off from their with C# and node.js.
                    During my coop I learned the lotusscript language which is quite similar to the
                    Visual Basic language.
                </p>
            </div>
        </main>

        <% include partials/footer.ejs %>