<% include partials/header.ejs %>

<body>
    <main id="homepage-class" class="container">
        <div class="page-header">
            <h1><%= title %></h1>
            <p>Apprentice Web Developer</p>
        </div>
    </main>
    
<% include partials/footer.ejs %>